<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Needed for on-device voice notes (see voice_transcription_service.dart).
         Recording only ever happens after this permission is granted; audio
         and its transcript stay on-device either way. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Needed for attaching photos from the camera (image_picker). -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:label="mentesana"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
